<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notícias Cidade - Seu site de notícias</title>
        <link rel="stylesheet" href="../css/styleNoticias.css">
    </head>
    <body class="fotos col-0">
        <header>
           <div id="banner">
                <div id="logo">
                    <h1>Notícias Cidade</h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html" id="home">Home</a>
                        </li>
                        <li>
                            <a href="nacional.html" id="nacional">Nacional</a>
                        </li>
                        <li>
                            <a href="internacional.html" id="internacional">Internacional</a>
                        </li>
                        <li>
                            <a href="economia.html" id="economia">Economia</a>
                        </li>
                        <li>
                            <a href="saude.html" id="saude">Saúde</a>
                        </li>
                        <li>
                            <a href="ciencia.html" id="ciencia">Ciencia</a>
                        </li>
                        <li>
                            <a href="fotos.html" class="ultimo" id="fotos">Fotos</a>
                        </li>
                    </ul>
                </nav>
           </div> 
        </header>
        <article>
            <section>
                <h2>Ultima entrevista</h2>
                <div>
                    <h4>Entrevista com Lucas Gabriel</h4>
                    <img src="../imagens/doutor.jpg" alt="" style="width:100%;margin-top:5px; ">
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                         has been.<a href="" class="leiame">Leia mais...</a>     </p>
                </div>
                </div>
            </section>
        </article>
        <footer>
            Projeto HTML5 | CSS 3 -> Lucas Gabriel</footer>
        </footer>
    </body>
</html>